section div p {
    font-family: sans-serif;
    color: red;
    font-size: 50px;
}

.azul {
    color: rgb(55,0, 252);
}

.verde-bg {
    background: rgb(43, 235, 4);
}

.elegante {
    font-weight: bold;
    text-shadow: 4px 4px 3px #77f;
}


span#ExemploID {
    background-color: red;
}